<a href="https://colab.research.google.com/github/ErrorNginx/My-project-google-colab/blob/main/code%20python/code_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pengenalan Dasar-Dasar Python

Hi Saya Suwarti.. Disini saya akan coba sedikit sharing tentang Pengenalan Dasar-Dasar Python..

In [ ]:
#tulis print dengan huruf kecil

print("Halo Dunia")

Halo Dunia

# Operasi Aritmatika

In [ ]:
#operasi aritmatika
#contoh: 5 ditambah 5 sama dengan 10
#+ : lambang tambah

5+5

10

In [ ]:
#operasi aritmatika
#contoh: 5 pangkat 2 sama dengan dua puluh lima
# ** : lambang pangkat

5**2

25

In [ ]:
#operasi aritmatika
#contoh: 2 dikali (5 pangkat 2) sama dengan lima puluh
#bahasa python akan membaca sesuai urutan kaidah matematika
#dalam contoh ini, meskipun kita tulis syntax perkalin terlebih dahulu
#tetapi python akan menghitung operasi pangkat terlebih dahulu kemudian berlanjut ke operasi perkalian
# * : lambang perkalian
# ** : lambang pangkat

2*5**2

50

In [ ]:
#operasi aritmatika
#contoh: 11 dibagi 4 sama dengan dua koma tujuh puluh lima
# / : lambang pembagian

11/4

2.75

In [ ]:
#operasi aritmatika
# // : lambang floor division 
#floor division adalah menampilkan bilangan bulatnya saja dari hasil pembagian
#contoh: 11 floor division 4 sama dengan dua 

11//4

2

In [ ]:
#operasi aritmatika
# % : lambang modulus
#modulus adalah menampilkan sisa pembagian
#contoh: 11 modulus 4 sama dengan tiga

11%4

3

# Strings

In [ ]:
#strings
#strings adalah kumpulan dari karakter
#gunakan tanda kutip untuk mendefinisikan string
#boleh kutip double atau boleh kutip single
#dengan catatan kutip pembuka dan kutip penutup harus sama
# " : lambang kutip double
#contoh: "apa kabar?"

"apa kabar?"

'apa kabar?'

In [ ]:
#strings
# ' : lambang kutip single
#contoh: 'apa kabar?'

'apa kabar?'

'apa kabar?'

In [ ]:
#strings
# """ : lambang triple quotes
#triple quotes digunakan untuk string yang lebih dari satu baris
#adapun output berupa backslash n adalah merupakan lambang baris baru
# \n : lambang baris baru

#contoh: """ balonku ada lima. rupa-rupa warnanya. hijau, kuning, kelabu, merah muda, dan biru. meletus balon hijau, darr. hatiku sangat kacau. balonku tinggal empat. ku pegang erat-erat. """

"""balonku ada lima.
rupa-rupa warnanya. hijau, kuning, kelabu, merah muda, dan biru. 
meletus balon hijau, darr. hatiku sangat kacau.
balonku tinggal empat. ku pegang erat-erat."""

'balonku ada lima.\nrupa-rupa warnanya. hijau, kuning, kelabu, merah muda, dan biru. \nmeletus balon hijau, darr. hatiku sangat kacau.\nbalonku tinggal empat. ku pegang erat-erat.'

In [ ]:
#strings
#perbedaan menggunakan keyword print dan tidak menggunakan keyword print
#print itu keyword bahasa python untuk menampilkan sesuatu
#bila tidak menggunakan keyword print maka mesin hanya akan membaca baris yang terakhir
#contoh: bila kita tulis tanpa print
#"halo" kemudian tulis di baris baru "apa kabar?"
#maka output nya hanya akan muncul baris terakhir yaitu "apa kabar?"

"halo"
"apa kabar"

'apa kabar'

In [ ]:
#contoh: bila kita tulis menggunkan print
#print("halo") kemudian tulis di baris baru print("apa kabar?")
#maka output nya akan muncul tulisan dari semua baris 

print("halo")
print("apa kabar")

halo
apa kabar

In [ ]:
# \ : lambang slash untuk menampilkan escape karakter 
#contoh: untuk menampikan kutip single

print("\'")

'

In [ ]:
# \ : lambang slash untuk menampilkan escape karakter 
#contoh: untuk menampikan lambang backslash

print("\\")

\

# Operasi Strings

In [ ]:
#operasi strings
#operasi penjumlahan string disebut dengan istilah concat atau penggabungan
#dengan catatan penjumlahan nya harus antara string dengan string

"power" + "point"

'powerpoint'

In [ ]:
#operasi strings
#contoh kita mau menulis '53'
#tetapi '53' disini berupa string bukan berupa integer
#ciri '53' disini berupa string adalah muncul nya tanda kutip

'5'+'3'

'53'

In [ ]:
#type: keyword yang digunakan untuk memeriksa type data
#ketika kita periksa type data dari '53' maka akan muncul output str
#str bermakna bahwa type data tersebut adalah string

type('53')

str

In [ ]:
#operasi strings
#operasi perkalian string dimana pengali nya itu harus berupa bilangan bulat atau integer
#output perkalian string akan menampilkan teks sebanyak jumlah pengali nya

"abu" * 2

'abuabu'

In [ ]:
#input adalah memasukkan sesuatu dari user

input("siapa nama kamu? :")

siapa nama kamu? :nama saya suwarti

'nama saya suwarti'

# Variables

In [ ]:
#variables
#isi dari variable ini bisa berupa angka, string, atau boolean
#notasi variabel bagian pertama tidak boleh berupa angka
#misal 3x maka ini tidak boleh sebagai notasi variable karena akan menghasilkan output error
#tetapi x3 ini boleh sebagai notasi variable
#notasi variable juga tidak boleh menggunakan spasi
#bila ingin memisahkan dua huruf variable maka bisa menggunakan underscore

x1 = 2
x2 = 3
x3 = 5.0
x4 = 'prima'
x5 = True

print(x1 + x2 +x3)

10.0

In [ ]:
#gunakan type untuk memeriksa type data

type(x5)

bool

In [ ]:
#variable menggunakan input
#catatan hasil dari input itu pasti berupa string
#jika ingin menghasilkan berupa angka maka mesti menuliskan keyword angka nya

angka_1 = input("masukan angka pertama :")
angka_2 = input("masukan angka kedua :")

print(angka_1 + angka_2)

masukan angka pertama :10
masukan angka kedua :5
105

In [ ]:
#variable menggunakan input
#jika ingin menghasilkan berupa angka maka mesti menuliskan keyword angka nya

angka_1 = input("masukan angka pertama :")
angka_1 = int(angka_1)
angka_2 = input("masukan angka kedua :")
angka_2 = float(angka_2)

print(angka_1 + angka_2)

masukan angka pertama :10
masukan angka kedua :5
15.0

# Dictionary

In [ ]:
#dictionary 
#dictionary itu untuk menyimpan lebih dari satu data (data majemuk) ke dalam sebuah variable
#key adalah bagian sebelum tanda titik dua dan value adalah bagian setelah tanda titik dua

my_dict = {'Nama':'Nam Do San', 
           'Usia': 17, 
           'Pekerjaan':'Developer',
           'Alamat': {'Jalan':'Sandbox',
                      'RT': '005',
                      'RW':'031'}}

In [ ]:
#gunakan key nya untuk memanggil value nya 

my_dict['Usia']

17

In [ ]:
type(my_dict['Usia'])

int

In [ ]:
my_dict['Alamat']['RT']

'005'

# List

In [ ]:
#list
#list itu sama dengan dictionary tapi dia hanya menyimpan value nya saja
#cara memanggil value dalam list ini dengan cara memanggil urutan nya
#catatan bahwa indeks di python itu dimulai dari nol

In [ ]:
my_list = ['Nam Do San', 17, {'Pekerjaan':'Developer'}, [18,19,20]]

In [ ]:
print(my_list[0])
print(my_list[1])
print(my_list[2])
print(my_list[3])

Nam Do San
17
{'Pekerjaan': 'Developer'}
[18, 19, 20]

In [ ]:
print(my_list[3][0])

18

In [ ]:
#gunakan indeks minus satu untuk memanggil value list dari urutan yg paling belakang

print(my_list[-1])

[18, 19, 20]

In [ ]:
#gunakan keyword len untuk mencari tahu jumlah elemen dalam list

len(my_list)

4

# Boolean

In [ ]:
#operator perbandingan
# == : lambang operator perbandingan
#output berupa boolean
#contoh: 2 == 3 dibaca 2 sama dengan 3 maka pernyataan tersebut salah

2 == 3

False

In [ ]:
#contoh: 2 > 5 dibaca 2 lebih besar dari 5 maka pernyataan tersebut salah

2 > 5

False

In [ ]:
#contoh: 2 <= 2 dibaca 2 kurang dari sama dengan 2 maka pernyataan tersebut benar

2 <= 2

True

In [ ]:
#catatan
#lambang = tidak bermakna sama dengan lambang ==
# = : lambang ini digunakan untuk memasukkan suatu nilai dalam sebuah variable
## == : lambang ini digunakan untuk operator perbandingan

# Boolean Logic

In [ ]:
#Pernyataan Benar dan pernyataan Benar maka output nya pernyataan Benar
#Pernyataan Benar dan pernyataan Salah maka output nya pernyataan Salah
#Pernyataan Benar atau pernyataan Benar maka output nya pernyataan Benar
#Pernyataan Benar atau pernyataan Salah maka output nya pernyataan Benar

In [ ]:
1 == 1 and 2 == 2

True

In [ ]:
1 == 1 and 2 == 1

False

In [ ]:
1 == 1 or 2 == 2

True

In [ ]:
1 == 1 or 2 == 1

True

# If Statement

In [ ]:
#bila ada dua kondisi maka cukup gunakan if dan else
#namun bila ada lebih dari dua kondisi maka tambahkan dengan elif
#penulisan statement yaitu dengan cara indentation menjorok ke dalam

In [ ]:
a = 1
if a > 3:
    print("a lebih besar dari 3") 
elif a == 3:
    print("a sama dengan dari 3") 
else:
    print("a lebih kecil dari 3")

a lebih kecil dari 3

In [ ]:
a = 5
if a > 3:
    print("a lebih besar dari 3") 
elif a == 3:
    print("a sama dengan dari 3") 
else:
    print("a lebih kecil dari 3")

a lebih besar dari 3

In [ ]:
a = 3
if a > 3:
    print("a lebih besar dari 3") 
elif a == 3:
    print("a sama dengan dari 3") 
else:
    print("a lebih kecil dari 3")

a sama dengan dari 3

# While Loops

In [ ]:
#contoh kasus bermain game

nyawa = 5
while nyawa > 0:
    print("Bemain Game, Sisa nyawa: ", nyawa)
    print("Kena Musuh")
    nyawa = nyawa - 1
print("Game Over")

Bemain Game, Sisa nyawa:  5
Kena Musuh
Bemain Game, Sisa nyawa:  4
Kena Musuh
Bemain Game, Sisa nyawa:  3
Kena Musuh
Bemain Game, Sisa nyawa:  2
Kena Musuh
Bemain Game, Sisa nyawa:  1
Kena Musuh
Game Over

In [ ]:
#break adalah memberhentikan secara paksa di kondisi tertentu

i = 0
while i < 10:
    i = i + 1
    if i == 3:
        break
    print(i)

1
2

In [ ]:
#continue adalah menskip kondisi tertentu

i = 0
while i < 10:
    i = i + 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6
7
8
9
10

# For Loop

In [ ]:
#for loop menggunakan tipe data majemuk

In [ ]:
pesanan = ['Mie Ayam', 'Nasi Goreng', 'Es Teh']
print("saya pesan", pesanan[0])
print("saya pesan", pesanan[1])
print("saya pesan", pesanan[2])

saya pesan Mie Ayam
saya pesan Nasi Goreng
saya pesan Es Teh

In [ ]:
i=0
while i < len(pesanan):
    print("saya pesan", pesanan[i])
    i=i+1

saya pesan Mie Ayam
saya pesan Nasi Goreng
saya pesan Es Teh

In [ ]:
for item in pesanan:
    print('saya pesan', item)

saya pesan Mie Ayam
saya pesan Nasi Goreng
saya pesan Es Teh

# Functions

In [ ]:
print("Halo Han Ji Pyeong, apa kabar?")
print("Halo Soe Dal Mi, apa kabar?")
print("Halo Suwarti, apa kabar?")

Halo Han Ji Pyeong, apa kabar?
Halo Soe Dal Mi, apa kabar?
Halo Suwarti, apa kabar?

In [ ]:
#arguments

def sapa_nama(nama):
    print("Halo {}, apa kabar?".format(nama))
    print("Semangat ya ^^")

In [ ]:
sapa_nama("Han Ji Pyeong")

Halo Han Ji Pyeong, apa kabar?
Semangat ya ^^

# Returns

In [ ]:
#returns

def tambah_return(a,b):
    return a+b

In [ ]:
tambah_return(2,3)

5

In [ ]:
hasil = tambah_return(2,3)

In [ ]:
hasil

5

In [ ]:
hasil +10

15

# Sekian

Sekian dulu ya untuk sedikit sharing2 kali ini.. terima kasih ^^